<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="list-group">
        <button class="list-group-item list-group-item-action" type="button">
          TODO Name
          <span class="badge badge-warning">Status</span>
        </button>
        <button class="list-group-item list-group-item-action" type="button">
          Click
          <span class="badge badge-success">Status</span>
        </button>
        <button class="list-group-item list-group-item-action" type="button">
          Click
          <span class="badge badge-warning">Status</span>
        </button>
        <button class="list-group-item list-group-item-action" type="button">
          Click
        </button>
        <button class="list-group-item list-group-item-action" type="button">
          Click
        </button>
        <button class="list-group-item list-group-item-action" type="button">
          Click
        </button>
        <button class="list-group-item list-group-item-action" type="button">
          Click
        </button>
        <button class="list-group-item list-group-item-action" type="button">
          Click
        </button>
        <button class="list-group-item list-group-item-action" type="button">
          Click
        </button>
      </div>
    </div>
  </div>
</div>
