<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="list-group" *ngIf="show">
        <!-- List of TODOS -->
        <button
          *ngFor="let todo of todos"
          class="list-group-item list-group-item-action"
          type="button"
          [routerLink]="['/todos', todo.todoId, 'edit']"
          routerLinkActive="active"
        >
          {{ todo.todoTitle }}
          <span
            class="badge"
            [ngClass]="{
              'badge-warning': todo.todoStatus === 'pending',
              'badge-success': todo.todoStatus === 'completed',
              'badge-primary': todo.todoStatus === 'cancelled'
            }"
            >{{ todo.todoStatus }}</span
          >
        </button>
      </div>
    </div>
  </div>
</div>
