<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">
    <img
      src="https://www.flaticon.com/svg/vstatic/svg/3884/3884623.svg?token=exp=1615819639~hmac=cd08b3ae3679acb766bfca73a78ea45f"
      width="30"
      height="30"
      alt=""
    />
  </a>

  <!-- Hamburger button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isShowing = !isShowing"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    [ngClass]="{ show: isShowing }"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['']"
          routerLinkActive="border-bottom"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/todos']"
          routerLinkActive="border-bottom"
          [routerLinkActiveOptions]="{ exact: true }"
          >Todos</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/stats']"
          routerLinkActive="border-bottom"
          >Stats</a
        >
      </li>
    </ul>
  </div>
</nav>
