<div class="container">
  <!-- TODO Creation Form -->
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form (ngSubmit)="onSubmit(todoForm)" #todoForm="ngForm">
        <div class="form-group">
          <!-- Input -->
          <label for="todoTitle">Enter the task</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ invalid: todoForm.invalid && todoForm.touched }"
            id="todoTitle"
            name="todoTitle"
            [(ngModel)]="todoTitle"
            required
            minlength="3"
            [disabled]="disableInput"
          />

          <!-- Validation message -->
          <div
            *ngIf="todoForm.invalid && todoForm.touched"
            class="alert alert-danger my-1"
            role="alert"
          >
            Todo is must be atleast 3 characters long
          </div>
        </div>

        <!-- Various buttons -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-around">
              <button
                class="btn btn-success"
                type="submit"
                [disabled]="todoForm.invalid"
              >
                Save
              </button>
              <button
                class="btn btn-primary"
                type="button"
                (click)="onCancel()"
              >
                Cancel
              </button>
              <button
                *ngIf="!disableInput"
                class="btn btn-secondary"
                type="reset"
              >
                Reset
              </button>

              <!-- If todo is already exists -->
              <button
                *ngIf="showMarkAsCompleteButton"
                class="btn btn-primary"
                type="button"
                (click)="onComplete()"
              >
                Mark as complete
              </button>
              <button
                *ngIf="showDeleteButton"
                class="btn btn-danger"
                type="button"
                (click)="onDelete()"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />
</div>
